#portfolio {
    background: var(--color-pastel-ligth-green);
    padding-top:3rem ;
    padding-bottom: 3rem;
}

.work{
    font-family: 'Tangerine', serif;
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-pastel-2ligth-green);
}

.portfolio{
    font-size: 3rem;
    text-align: center;
    color: var(--color-pastel-blue-2dark);
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background-color: var(--color-pastel-black-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-pastel-black-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 2rem;
    overflow: hidden;
    height: 12rem;
}

.bttn{
    width: max-content;
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-pastel-purple-dark);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-pastel-purple-dark);
    transition: var(--transition);
}

.bttn:hover {
    background-color: var(--color-pastel-black-variant);
    color: var(--color-pastel-purple-dark);
    border-color: transparent;
}

.portfolio__item h3 {
    text-align: center;
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


.portfolio__item-image .img{
    transform: translate3d(-50%,-50%,0)
}

.portfolio__item-image:hover img{
    transform: scale(1.2) rotate(5deg);
   
}


/* responsive for screen */

/* media queries - << Medium >> */
@media screen and (max-width: 1024px) {

    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* media queries - << Small >> */
@media screen and (max-width: 600px) {

    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}