header {
    padding-top: 7rem;
}

.name {
    color: var(--color-black);
    font-size: 6rem;
    font-family: 'Rancho', serif;
    text-shadow: 6px 6px 8px #aaa;
}

.hi {
    color: var(--color-orange);
    font-size: 2rem;
}

.hiAnimate{
    animation-name: title-load;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
}

@keyframes title-load{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.job__title {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.job__title{
    font-size: 2rem;
}

.job__container.left {
    text-align: right;
    color: var(--color-dark);
}

.job__container.rigth {
    text-align: left;
    color: var(--color-dark-red);
}
/* top buttons */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.icon {
    margin-left: 5px;
}

.download {
    transition: var(--transition);
}

.download a:hover .icon {
    transform: translateY(5px);
}

/* socials */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/* image */

.header__socials > a {
    color: var(--color-dark);
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-dark);
}

/* responsive for screen */

/* media queries - << Medium >> */
@media screen and (max-width: 1024px) {
    /* header{
        height: 100vh;
        overflow: hidden;
        
    } */
    .name {
        font-size: 4rem;
    }

}

/* media queries - << Small >> */
@media screen and (max-width: 600px) {

    .header__socials, .scroll__down {
        display: none;
    }
    .name {
        font-size: 3rem;
    }

}

/* cube */
.scene {
    width: 300px;
    height: 100px;
    margin-left: 20px;
    perspective: 600px;
  }
  
  .box {
    width: 300px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .box.show-front  { transform: translateZ(-150px) rotateY(   0deg); }
  .box.show-back   { transform: translateZ(-150px) rotateY(-180deg); }
  .box.show-right  { transform: translateZ(-150px) rotateY( -90deg); }
  .box.show-left   { transform: translateZ(-150px) rotateY(  90deg); }
  
  
  .box__face {
    position: absolute;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .box__face--front,
  .box__face--back {
    width: 300px;
    height: 50px;
    line-height: 50px;
  }
  
  .box__face--right,
  .box__face--left {
    width: 300px;
    height: 50px;
    line-height: 50px;
  }
  
  .box__face--front  { background: var(--color-pastel-blue-2dark); }
  .box__face--right  { background: var(--color-pastel-purple); }
  .box__face--back   { background: var(--color-dark-red); }
  .box__face--left   { background: var(--color-green); }

  
  .box__face--front  { transform: rotateY(  0deg) translateZ( 150px); }
  .box__face--back   { transform: rotateY(180deg) translateZ( 150px); }
  .box__face--right  { transform: rotateY( 90deg) translateZ(150px); }
  .box__face--left   { transform: rotateY(-90deg) translateZ(150px); }
  
  
  label { margin-right: 10px; }

  .cubeAnimate {
    animation-name: cubeMove;
    animation-duration:10s ;
    animation-iteration-count: infinite;
  }

  @keyframes cubeMove{
    0%{
        transform: translateZ(-150px) rotateY(   0deg);
    }

    25%{
        transform: translateZ(-150px) rotateY( -90deg);
    }

    50%{
        transform: translateZ(-150px) rotateY(-180deg);
    }

    75%{
        transform: translateZ(-150px) rotateY( -270deg);
    }
    100%{
        transform: translateZ(-150px) rotateY( -360deg);
    }
  }