header {
    height: max-content;
    padding-top: 7rem;
    overflow: hidden;
}

.name {
    color: var(--color-black);
    font-size: 6rem;
    font-family: 'Rancho', serif;
    text-shadow: 6px 6px 8px #aaa;
}

.hi {
    color: var(--color-orange);
    font-size: 2rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.job__title {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.job__title{
    font-size: 2rem;
}

.job__container.left {
    text-align: right;
    width: 5rem;
    color: var(--color-dark);
}

.job__container.rigth {
    text-align: left;
    width: 25rem;
    color: var(--color-dark-red);
}
/* top buttons */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.icon {
    margin-left: 5px;
}

.download {
    transition: var(--transition);
}

.download a:hover .icon {
    transform: translateY(5px);
}

/* socials */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/* image */

.header__socials > a {
    color: var(--color-dark);
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-dark);
}

/* responsive for screen */

/* media queries - << Medium >> */
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }

}

/* media queries - << Small >> */
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }
}