footer {
    background-image: linear-gradient(to top right, var(--color-pastel-ligth-green), var(--color-bg-variant));
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

.footer__name {
    color: var(--color-pastel-purple-dark);
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: inline-block;
}

footer a {
    color: var(--color-pastel-purple-dark);
    font-weight: bold;
}


.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-pastel-purple-dark);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color:var(--color-bg);
}

/* media queries - << Small >> */
@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}